/* DisplayStories.css */
.display-stories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(240, 151, 221, 0.481);
}

.stories-slider {
  position: relative;
  width: 490px; /* Adjust the width as needed */
}

.video-container {
  position: relative;
  width: 500px;
  height: 900px; /* Adjust the height as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 500px;
  /* width: 100%; */
  /* height: 100%; */
  display: none;
}

.video-wrapper.active {
  display: block;
  width: 500px;
  height: 600px;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 0.5rem;
}

.nav-button.previous {
  left: 5px;
}

.nav-button.next {
  right: 5px;
}

.nav-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

#video-1_html5_api{
  width: 495px;
}